html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Playfair Display", "Times", serif;
  color: #626262;
  font-size: 14px;
  line-height: 24px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 901px;
  background-color: #ffffff;
  margin: 0 auto;
}

.page-header {
  background-color: #ffffff;
  display: block;
}

/* site navigation */
.site-navigation {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  list-style: none;
  text-align: center;
  text-decoration: none;
}

.site-navigation li {
  display: inline-block;
  padding: 76px 0;
  width: 113px;
  height: 42px;
}

.site-navigation li:not(:last-child) {
  margin-right: 60px;
}

.site-navigation a {
  color: #626262;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 24px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #6ecff3;
}

/*main content */

.article-content {
  width: 420px;
  display: inline-block;
  margin-top: 80px;
  margin-right: 57px;
  margin-bottom: 60px;
}

.article-content:nth-child(2n) {
  margin-right: 0;
}

.section-of-article {
  font-family: "Ubuntu", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}

h3 {
  font-size: 30px;
  line-height: 36px;
}

button {
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 70px;
  margin-left: 395px;
}
