@media (max-width: 767px) {
  .list-item:not(:last-child) {
    margin-bottom: 26px;
  }
}

@media (min-width: 768px) and (max-width: 939px) {
  .list-item:nth-child(2n + 1) {
    margin-bottom: 26px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 748px;
  }

  .wrapper {
    height: 700px;
  }

  .header {
    min-width: 670px;
  }

  .page-nav {
    flex-direction: row;
    min-height: 80px;
    padding-bottom: 150px;
  }

  .promo {
    width: 492px;
    padding: 0;
  }

  .promo-title {
    font-size: 50px;
    width: 100%;
    margin-bottom: 40px;
  }

  .promo-description {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .partners-title {
    margin-bottom: 40px;
  }

  .list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 492px;
    padding-bottom: 40px;
  }

  .list-item {
    margin: 0;
    flex: 0 0 48%;
  }

  .partner-1 {
    order: 1;
  }

  .partner-2 {
    order: 3;
  }

  .partner-3 {
    order: 2;
  }

  .partner-4 {
    order: 4;
  }
}

@media (min-width: 940px) {
  .container {
    width: 940px;
  }

  .header {
    min-width: 940px;
  }

  .list {
    width: 100%;
  }

  .list-item {
    flex: 0 0 23%;
  }
}
