.form {
  @include center-flex('hor');
  // display: flex;
  // justify-content: center;
  min-height: 40px;
}

.form__email {
  @include font-settings(15px, 24px);
  // font-size: 15px;
  // line-height: 24px;
  font-family: $secondary-font-stack;
  color: #cccccc;
  font-style: italic;
  text-align: left;
  border: 1px solid #e7e7e7;
  width: 234px;
  height: 40px;
}

.form__subscribe {
  color: #ffffff;
  font-weight: 700;
  background-color: rgb(149, 225, 211);
  width: 150px;
  height: 40px;
  border: none;
  padding: 0;

  &:hover {
    cursor: pointer;
    background-color: $secondary-accent-color;
  }
}
