$main-font-stack: 'Montserrat', 'Arial', sans-serif;
$secondary-font-stack: 'Roboto', 'Arial', sans-serif;
$accent-font-stack: 'Kaushan Script', cursive;

$main-text-color: #333333;

$main-text-size: 14px;
$main-text-height: 21px;

$primary-white-color: #ffffff;

$primary-accent-color: #fce38a;
$secondary-accent-color: #f38181;

$linear-gradient: linear-gradient(
  to top,
  rgba(252, 227, 138, 0) 0%,
  rgba(243, 129, 129, 0) 100%
);
